@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http.Extensions
@model Producto
@{
  var idSolicitado = @Context.Request.Path.ToString().Split("/").Last(); // 
}

@if (Model != null){
  <h1>@Model.IdProducto - @Model.Descripcion - @Model.Precio.ToString("C")</h1>
  <img src="@Model.Imagen" class="img-fluid"/>
} else {
  <h1>No se encontró producto con el id @idSolicitado</h1>
}
